{
  "env": {
    "es6": true,
    "browser": true,
    "amd": true
  },
  "parserOptions": {
    "ecmaVersion": "2018"
  },
  "globals": {
    "angular": true,
    "global": true,
    "exports": true,
    "module": true,
    "moment": true,
    "_": true,
    "$": true,
    "jQuery": true,
    "$event": true,
    "Pusher": true,
    "fastdom": true,
    "debug": true,
    "PerfectScrollbar": true,
    "noty": true,
    "App": true,
    "chrome": true,
    "c3": true,
    "d3": true,
    "JsBarcode": true,
    "swal": true,
    "swalExtend": true,
    "jsPDF": true,
    "html2canvas": true,
    "Canvas2Image": true,
    "CKEDITOR": true,
    "PNotify": true,
    "CryptoJS": true,
    "Uint8Array": true,
    "WebFont": true,
    "ClusterWS": true,
    "chromeTabs": true,

    "arrLargeCode": true,
    "arrLargeName": true,
    "arrLargeExtension": true,
    "arrMiddleCode": true,
    "arrMiddleName": true,
    "arrMiddleExtension": true,
    "arrSmallCode": true,
    "arrSmallName": true,
    "arrSmallExtension": true,
    "arrDetailCode": true,
    "arrDetailName": true,
    "arrDetailExtension": true
  },
  "extends": "eslint:recommended",
  "rules": {				
    "strict": ["error", "global"],																				// use strict 무조건, 맨위
    
    "no-var": ["error"],																									// var쓰면안됨
    // "no-console": ["warn"],																								// 콘솔쓰면안됨
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }],	// 선언해놓고 안쓰는거 안됨
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],					// 쓸모없는 공간 x
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],									// tab하고 space 섞으면 안됨
    "no-extra-semi": "error",																							// 세미콜론 2개 같이쓰면 안됨
    "no-unneeded-ternary": "error",																				// 쓸모없는 삼항 금지
    "no-multiple-empty-lines": ["error", { "max": 1 }],										// 줄바꿈 최대 1개
    "no-trailing-spaces": ["error"],																			// 제일끝 공백 안됨

    "prefer-const": ["error"],																						// 한번선언하는건 무조건 const
    "prefer-template": ["error"],																					// 무조건 `` 템플릿으로 강제
    
    "template-curly-spacing": ["error"],																	// `${ abc}` 금지
    "computed-property-spacing": ["error", "never"],											// 객체속성 쓸모없는 공백 제거
    "block-spacing": ["error"],																						// 블록범위 패딩
    "comma-spacing": ["error", { "before": false, "after": true }],				// {a,b,c} x {a, b, c} O
    "key-spacing": ["error"],																							// { a:1, b:2 } x { a: 1, b: 2 } O
    "keyword-spacing": ["error"],																					// if() x if ()
    "object-curly-spacing": ["error", "always"],													// {a: 1 } x { a: 1 } o
    "switch-colon-spacing": ["error"],																		// case: 
    "arrow-spacing": ["error"],																						// => {}
    "semi-spacing": ["error", { "before": false, "after": true }],				// const a ; const a;	// aaerogiajerg
    
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],  // 화살표함수 소괄호 필수
    // "arrow-body-style": ["error", "as-needed"],															  // 화살표함수 중괄호 필수
    "dot-location": ["error", "property"],																// 엔터후 .
    "dot-notation": ["error"],																						// 속성 .가능은 .으로읽음
    "padding-line-between-statements": ["error", { "blankLine": "always", "prev": "*", "next": "return" }, { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" }, { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] }],
    "space-before-blocks": "error",
    "space-in-parens": ["error", "never"],
    "space-infix-ops": ["error"],
    "space-unary-ops": ["error"],
    
    "curly": ["error"],
    "indent": ["error", 2, { "SwitchCase": 1, "VariableDeclarator": { "var": 2, "let": 2, "const": 3 }, "MemberExpression": 1 }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "quote-props": ["error", "consistent-as-needed"],
    "semi": ["error", "always"]
}
}
