# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.DS_Store
.env
.venv
.flaskenv
*.pyc
*.pyo
env/
venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
*.swp

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
